.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0c9;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float:hover {
    background-color: rgb(5, 143, 108);
}

.my-float {
    margin-top: 6px;
}

#myTabContentMD {
    width: 100%;
}

.modal-body {
    padding: 0px;
}
#checkSecure{
    font-size: medium;
}