<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-6">
            <div class="card">
                <a href="#" routerLink="/Bitacora">
                    <img src="../../../assets/images/BinnacleMain.jpg" class="img-fluid img-thumbnail"
                        alt="Puede contener a dos mujeres">
                </a>
                <div class="card-body">
                    <h2 class="text-center">Bitacora</h2>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <a href="#" routerLink="/pacsHome">
                    <img src="../../../assets/images/PacsMain (Personalizado).jpg" class="img-fluid  py-4"
                        alt="Puede contener a dos mujeres">
                </a>
                <div class="card-body img-thumbnail">
                    <h2 class="text-center">PAcs</h2>
                </div>
            </div>
        </div>
    </div>
</div>