/*Priority points color from pacs tasks */
.class0 {
    background: #000000;
}

 .class13, .class21 {
    background: #dc3545;
}

.class1, .class2 {
    background: #28a745;
}

.class3, .class5, .class8 {
    background: #ffc107;
}